#drop-area {
    border: 2px dashed #ccc;
    border-radius: 20px;
    width: 80%;
    font-family: sans-serif;
    margin: 100px auto;
    padding-top: 300px;
    padding-bottom: 300px;
    padding-left:100px;
    padding-right:100px;
    border-color: rgba(180,180,180,1);
}
p {
    font-family: 'Montserrat';
    font-size: large;
    color: rgba(180,180,180,1);
}

#drop-area.highlight {
    border-color: purple;
}

body {
    background-color: rgba(44,44,44,1);
}

.my-form {
    margin-bottom: 10px;
}

#gallery {
    margin-top: 10px;
}

#gallery img {
    width: 150px;
    margin-bottom: 10px;
    margin-right: 10px;
    vertical-align: middle;
}


.canvas {
    display: block;
    margin: 100px auto;
    background: #000;
}
.panel {
    position: absolute;
    display: flex;
    position: fixed;
    width: 100%;
    height: 300px;
    background: rgba(55,55,55,1);
    bottom: -270px;
    transition: all .2s linear;
}
.puller {
    position:absolute;
    display: block;
    width: 30px;
    height: 5px;
    background: rgba(65,65,65,1);
    top: 10px;
    right:50%;
    
}

input[type="number"] {
    border: 0px;
    color: rgba(180,180,180,1);
    background: none;
    font-size: large;
    width:100px;
    
}
.filterContainer {
    padding: .5rem .3rem .3rem .3rem;
    position: relative;
    width: 180px;
    height: 40px;
    border-radius: 10px;
    background: rgba(65,65,65,1);
    margin: 10px;
}

.close {
    
    right: 0px;
    top: 0px;
    width: 5px;
    height: 5px;
    opacity: 0.3;
}

.close:hover {
    opacity: 1;
}

.close:before, .close:after {
    position: absolute;
    top: 5px;
    right: 10px;
    content: ' ';
    height: 15px;
    width: 2px;
    background-color: rgba(33,33,33,1);
        
}

.close:before {
    transform: rotate(45deg);
}

.close:after {
    transform: rotate(-45deg);
}
.select {
    position: relative;   
    font-family: 'Montserrat';
}
.input__file {
    opacity: 0;
    visibility: hidden;
    position: absolute;
}
.input__wrapper {
    width: 100%;
    position: relative;
    margin: 15px 0;
    text-align: center;
}


.customButton {
    display: block;
    border: 0px;
    width: 70px;
    height: 40px;
    margin-top: 30px;
    margin-left: 50px;
    background: rgba(65,65,65,1);
    border: 1px solid rgba(180,180,180,1);
    border-radius: 3px;
    font-family: inherit;
    font-size: large;
    color: rgba(180,180,180,1);
}
.customButton input{
    display: block;
    border: 0px;
    width: 70px;
    height: 40px;
    margin-top: 30px;
    margin-left: 50px;
    
    
   
    font-family: inherit;
    font-size: large;
    color: rgba(180,180,180,1);
}

.select select {    
    display: block;
    border: 0px;
    width: 150px;
    margin-top: 80px;
    margin-left: 50px;
    padding: .3rem .3rem .3rem .3rem;
    background: rgba(65,65,65,1);
    border: 1px solid rgba(180,180,180,1);
    border-radius: 3px;
    -webkit-appearance: none;
    -moz-appearance: none;
    font-family: inherit;
    font-size: large;
    color: rgba(180,180,180,1);
}
.separator {
    display: block;
    width: 2px;
    margin-top:30px;
    margin-left:50px;
    background: rgba(65,65,65,1);
    height: 80%;    
    border-radius: 1px;
}
.filterList {
    overflow: auto;
    max-height:200px;
}
.filterList li {
    list-style-type: none;
}
::-webkit-scrollbar-button {
    background-image: url('');
    background-repeat: no-repeat;
    width: 5px;
    height: 0px
}

::-webkit-scrollbar-track {
    background-color: rgba(65,65,65,1);
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0px;
    border-radius: 0px;
    background-color: rgba(180,180,180,1);
}

    ::-webkit-scrollbar-thumb:hover {
        background-color: rgba(180,180,180,1);
    }

::-webkit-resizer {
    background-image: url('');
    background-repeat: no-repeat;
    width: 4px;
    height: 0px
}

::-webkit-scrollbar {
    width: 4px;
}